/** 
*
* VARIABLES
*
*/

//=====================================================
// CONTAINERS
//=====================================================

$x-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1300px;

//=====================================================
// BREAKPOINTS
//=====================================================

// $mobile: $x-small;
// $tablet: $small;
// $desktop: $medium;

//=====================================================
// TYPOGRAPHY
//=====================================================

// Set the default to  1rem size for browser window resize
$base-font-size: 62.5%;

