/** 
*
* VARIABLES
*
*/

//=====================================================
// CONTAINERS
//=====================================================

$x-small: 480px;
$small: 750px;
$medium: 992px;
$large: 1200px;

// Sets the width of the containers
$container-gutter: 0.95;

//=====================================================
// GRID
//=====================================================

// Controls the number of columns for the layout
$grid-columns: 12;

//=====================================================
// TYPOGRAPHY
//=====================================================

// Set the default to  1rem size for browser window resize
$base-font-size: 62.5%;
$base-line-height: 1.5;

