/** 
*
* VARIABLES
*
*/

//=====================================================
// CONTAINERS
//=====================================================

$x-small: 600px;
$small: 800px;
$medium: 1000px;
$large: 1200px;

//=====================================================
// BREAKPOINTS
//=====================================================

$mobile: $x-small;
$tablet: $small;
$desktop: $medium;

//=====================================================
// TYPOGRAPHY
//=====================================================

// Set the default to  1rem size for browser window resize
$default-rem-size: 62.5%;

